@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');

:root {
    --font-default: sans-serif;
    --font-default-code: monospace;
    --font-family-primary: 'Poppins';
    --font-family-secondary: 'Montserrat';
    --font-family-code: 'Roboto Mono';
    --font-family-kor: 'Noto Serif KR';
}
