@use '../../../../styles/abstracts' as a;

.gridWrapper {
    padding: 2em;
    @include a.grid(5, 1, 1) {
        grid-template-areas:
            'h h h h h'
            'b b b b b'
            'f f f f f';
    }
    &__title {
        grid-area: h;
        text-align: center;
        font-weight: 700;
        font-size: clamp(2.4em, 2vw, 2.6em);
    }

    //>tablet
    @include a.mq-tablet {
        @include a.grid(8, 1, 2) {
            grid-template-areas:
                'h h h h h h h h'
                'b b b b b b b b'
                'f f f f f f f f';
        }
    }
    //>Desktop
    @include a.mq-desktop {
        @include a.grid(12, 1, 2) {
            grid-template-areas:
                'h h h h h h h h h h h h'
                'b b b b b b b b b b b b'
                'f f f f f f f f f f f f';
        }
    }
}
