@use '../../../../styles/abstracts/index' as a;

// root/dashboard
.boardMain {
    @include a.grid(5, 1, 1) {
        grid-template-areas:
            'n t t t t'
            'n r r r r'
            'c c c c c';
    }

    padding: 1em;
    & button {
        display: block;
    }

    //dashboard - navigation
    &__navWrapper {
        grid-area: n;
        border: 2px solid #d6d3d1;
        border-radius: 5px;
        padding: 1em;
        min-width: min-content;
        max-width: available;
        position: relative;

        &__hidden_nav {
            background-color: #292524;
            color: #f9fafb;
            opacity: 0.95;
            height: 100%;
            width: 50vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: grid;
            grid-template-rows: auto 1fr;
            border-radius: 5px;

            div {
                margin: 1em;
                justify-self: end;
            }
            ul {
                text-align: center;
                justify-self: center;
                align-self: center;

                li {
                    cursor: pointer;
                    &:not(:first-child) {
                        margin-top: 3em;
                    }
                }
            }

            @include a.mq-tablet {
                width: 30vw;
            }
            @include a.mq-desktop {
                width: 100%;
            }
        }

        &__navComponent {
            height: 100%;
            @include a.flex(flex-start, center, column);

            &__navi_lists {
                li {
                    &:not(:first-child) {
                        margin-top: 1em;
                    }

                    i {
                        display: block;
                    }
                    a {
                        display: block;
                        font-size: clamp(0.8em, 2vw, 1em);
                        font-weight: 500;
                        text-align: center;

                        &:hover {
                            color: #71717a;
                        }
                    }
                    @include a.flex(center, center, column, 0);

                    @include a.mq-desktop {
                        @include a.flex(flex-start, center, row, 0);
                        padding-left: 1em;

                        a {
                            margin-left: 1em;
                        }
                    }
                }
            }
            @include a.mq-desktop {
                @include a.flex(center, center, column);
            }
        }
    }

    //dashboard - topSection
    &__topWrapper {
        grid-area: t;
        border: 2px solid #d6d3d1;
        border-radius: 5px;
        padding: 1em;

        h4 {
            border-bottom: 1px dashed black;
            margin-bottom: 1em;
        }

        &__search {
            height: 100%;


            &__input {
                @include a.flex(center, center, row, 2);

                div {
                    flex: 1;

                    input {
                        height: 2em;
                    }
                }
            }
            &__selection {
                margin-top: 2em;

                &__from_to {
                    @include a.flex(flex-end, center, row, 1);

                    span {
                        margin-left: 0.5em;

                        label {
                            margin-right: 0.5em;
                            font-size: clamp(1.4rem, 2vw, 1.6rem);
                        }
                    }

                    @include a.mq-desktop {
                        @include a.flex(center, center, row, 2);
                        span {
                            margin-left: 2em;

                            label {
                                margin-right: 1em;
                            }
                        }
                    }
                }
            }
            &__btnWrapper {
                margin-top: 1em;
                @include a.flex(center, center);

                button {
                    div {
                        @include a.flex(center, center);
                    }
                }
            }
        }
    }

    //dashboard - middleSection
    &__cardWrapper {
        grid-area: r;
        border: 2px solid #d6d3d1;
        padding: 1em;

        h4 {
            border-bottom: 1px dashed black;
            margin-bottom: 1em;
        }

        &__cardComponents {
            &__cardComponent {
                span {
                    display: block;
                }
                border: 1px solid #d6d3d1;
                border-radius: 5px;
                padding: 0.5em;
                margin-bottom: 1em;

                div {
                    @include a.flex(space-between, center);

                    span {
                        margin-bottom: 1em;

                        &:first-of-type {
                            font-weight: 700;
                            font-size: clamp(1.4em, 2vw, 1.6em);
                        }

                        &:last-of-type {
                            font-weight: 500;
                        }
                    }

                    &:last-of-type {
                        @include a.flex(flex-end, center);
                    }
                }

                p {
                    text-align: center;
                }
            }
            @include a.mq-desktop {
                @include a.flex(center, center, row, 2);

                div {
                    @include a.flex(space-between, center, column, 0);

                    span {
                        margin: 0;
                        &:first-child,
                        &:last-child {
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }

    //>tablet
    @include a.mq-tablet {
        @include a.grid(8, 1, 2) {
            grid-template-areas:
                'n n t t t t t t'
                'n n r r r r r r'
                'c c c c c c c c';
        }
    }
    //>Desktop
    @include a.mq-desktop {
        @include a.grid(12, 1, 2) {
            grid-template-areas:
                'n n n t t t t t t t t t'
                'n n n r r r r r r r r r'
                'c c c c c c c c c c c c';
        }
    }
}
