@use '../../../../styles/abstracts/index' as a;

.dashBoardLayout {
    @include a.flex(space-between, center);
    margin: 3em 6em 3em 6em;

    > div {
        @include a.flex(flex-start, center);
    }

    &__toggle {
        div {
            display: flex;
            align-items: center;
        }
    }

    @include a.mq-tablet {
    }
}
