@mixin hoverEffect($duration: 1, $delay: 1) {
    transition: {
        delay: #{$delay}s;
        duration: #{$duration}s;
        property: transform, box-shadow;
        timing-function: linear;
    }

    &:hover {
        transform: scale(1.15);
        box-shadow: 1px 1px rgb(0, 0, 0.85);
    }
}
