@mixin grid($repeat: 0, $fr: 1, $gap: 2) {
    display: grid;
    gap: #{$gap}rem;
    grid-template-columns: repeat(#{$repeat}, minmax(min-content, #{$fr}fr));
    grid-auto-rows: minmax(min-content, auto);
    grid-auto-flow: dense;
    @content;
}

@mixin flex(
    $mainAxis: flex-start,
    $crossAxis: flex-start,
    $direction: row,
    $gap: 1
) {
    @if $direction != row {
        display: flex;
        flex-flow: column wrap;
        justify-content: $crossAxis;
        align-items: $mainAxis;
        gap: #{$gap}rem;
    }
    display: flex;
    flex-flow: $direction wrap;
    justify-content: $mainAxis;
    align-items: $crossAxis;
    gap: #{$gap}rem;
}
