@mixin grid($cols: 0, $gap: 1) {
    @apply grid auto-rows-min grid-cols-#{$cols} gap-#{$gap};
    @content;
}

@mixin flex($horizontal: center, $vertical: center, $direction: row, $gap: 1) {
    @apply flex;
    @if $direction == col {
        @apply flex-col flex-wrap gap-#{$gap};
        justify-content: $vertical;
        align-items: $horizontal;
    }
    @apply flex-row flex-wrap gap-#{$gap};
    justify-content: $horizontal;
    align-items: $vertical;
}
