@mixin button($type: light) {
    button {
        @apply min-w-min outline-none px-8 py-2
        border border-opacity-10 border-black rounded
        uppercase font-medium
        transition ease-out duration-300;

        &:hover {
            box-shadow: 0 5px 10px #d6d3d1;
        }

        &:active {
            background-color: inherit;
        }

        @if ($type!=light) {
            @apply border-opacity-20 border-gray-400;
            &:hover {
                box-shadow: 0 3px 10px #52525b;
            }
            &:active {
                background-color: inherit;
            }
        }
    }
    @content;
}