@mixin input($type: light) {
    input {
        @apply outline-none
        border border-opacity-30 border-black rounded
        focus:outline-none;
        color: inherit;
        background-color: inherit;

        @if $type == light {
            @apply disabled:bg-gray-600;
        } @else {
            @apply border-opacity-50 border-gray-400 disabled:bg-gray-400;
        }
        @content;
    }
}