@use 'sass:color';
@use '../../styles/abstracts/variables' as a;

@mixin input($type: light, $layout: normal) {
    @if ($layout == normal) {
        input {
            font-family: a.$code-font-stack;
            width: 100%;
            height: 2em;
            color: inherit;
            border-radius: 5px;
            outline: none;
            accent-color: var(--input-light-checked);

            background-color: var(--light-bg);
            border: 2px solid var(--input-light-border);

            &:focus {
                border: 2px solid #2563eb;
            }

            &[type='text']:disabled,
            &[type='checkbox']:disabled {
                background-color: var(--input-light-disabled);
            }

            @if ($type!=light) {
                color: var(--input-dark-text);
                border: 1px solid var(--input-dark-border);

                &[type='text']:disabled,
                &[type='checkbox']:disabled {
                    background-color: var(--input-dark-disabled);
                }

                @content;
            }
        }
    } @else {
        input {
            font-family: a.$code-font-stack;
            width: 100%;
            height: 2em;
            color: inherit;
            border-radius: 5px;
            outline: none;
            accent-color: var(--input-light-checked);

            background-color: var(--light-bg);
            border: 2px solid var(--input-light-border);

            &:focus {
                border: 2px solid #2563eb;
            }

            &[type='text']:disabled,
            &[type='checkbox']:disabled {
                background-color: var(--input-light-disabled);
            }

            @if ($type!=light) {
                color: var(--input-dark-text);
                border: 1px solid var(--input-dark-border);

                &[type='text']:disabled,
                &[type='checkbox']:disabled {
                    background-color: var(--input-dark-disabled);
                }

                @content;
            }
        }
    }
}
