@use '../../../../../styles/abstracts/index' as a;
@use '../../sub-components/invoices/styles/header-PI.module' as pi;
@use '../../sub-components/invoices/styles/header-CI.module' as ci;
@use '../../sub-components/invoices/styles/body.module' as b;
@use '../../sub-components/invoices/styles/footer.module' as f;

.gridWrapper {
    @include a.grid(1, 1, 0) {
        grid-template-areas:
            't'
            'b';
    }

    &__title {
        grid-area: t;
        text-align: center;
        font-weight: 700;
        margin-bottom: 2em;
    }

    &__pageBody {
        grid-area: b;
        border: 1px solid black;

        @include a.grid(1, 1, 0) {
            grid-template-areas:
                'h'
                'b'
                'f';
        }

        &__mainHeaderPI {
            grid-area: h;
            @include pi.mainHeaderPI;
        }

        &__mainHeaderCI {
            grid-area: h;
            @include ci.mainHeaderCI;
        }

        &__body {
            grid-area: b;
            @include b.mainBody;
        }

        &__footer {
            grid-area: f;
            @include f.mainFooter;
        }
    }
}
