@use '../../styles/abstracts/index' as a;
@use 'modules/board-nav.module' as n;
@use 'modules/board-top.module' as t;
@use 'modules/board-recent-cards.module' as c;

.board {
    @include a.grid(5, 1, 1) {
        grid-template-areas:
            'n t t t t'
            'n r r r r';
    }

    margin: 0 2em;

    & button {
        display: block;
    }

    &__navWrapper {
        grid-area: n;
        @include n.board-nav;
    }
    &__topWrapper {
        grid-area: t;
        @include t.board-top;
    }
    &__cardWrapper {
        grid-area: r;
        @include c.board-cards;
    }

    @include a.mq-tablet {
        @include a.grid(8, 1, 2) {
            grid-template-areas:
                'n t t t t t t t'
                'n r r r r r r r';
        }
        margin: 0 4em;
    }
    @include a.mq-desktop {
        @include a.grid(12, 1, 2) {
            grid-template-areas:
                'n n n n n n n n n n n n'
                't t t t t t t t t t t t'
                'r r r r r r r r r r r r';
        }
        margin: 0 6em;
    }
}
