@use '../../styles/abstracts' as a;

//dashboard - main
.boardMain {
    @include a.grid(5, 1, 1) {
        grid-template-areas:
            'n t t t t'
            'n r r r r'
            'c c c c c';
    }

    //local
    padding: 1em;
    & button {
        display: block;
    }

    //nav - section
    &__navWrapper {
        grid-area: n;
        border: 2px solid #d6d3d1;
        border-radius: 5px;
        position: relative;
        padding: 1em;
        min-width: min-content;
        max-width: available;

        &__hidden_nav {
            background-color: #292524;
            color: #f9fafb;
            opacity: 0.95;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            display: grid;
            grid-template-rows: auto 1fr;

            div {
                margin: 1em;
                justify-self: end;
            }
            ul {
                text-align: center;
                justify-self: center;
                align-self: center;
                li {
                    cursor: pointer;
                    &:not(:first-child) {
                        margin-top: 3em;
                    }
                }
            }
        }

        &__navComponent {
            height: 100%;
            @include a.flex(space-between, center, column);

            &__top {
                @include a.flex(center, center, column, 0);

                p {
                    font-size: clamp(1.4em, 2vw, 1.6em);
                }
                &__toggle {
                }

                @include a.mq-tablet {
                    @include a.flex(flex-start, center);
                }
            }
            &__navi_lists {
                width: 100%;
                margin-bottom: 40%;

                li {
                    margin-top: 1em;
                    @include a.flex(center, center, column, 0);

                    i {
                        display: block;
                    }
                    a {
                        display: block;
                        font-size: clamp(0.8em, 2vw, 1em);
                        font-weight: 500;
                        text-align: center;

                        &:hover {
                            color: #71717a;
                        }
                    }

                    @include a.mq-desktop {
                        @include a.flex(flex-start, center, row, 0);

                        a {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }

    //top - section
    &__topWrapper {
        grid-area: t;
        padding: 1em;
        border: 2px solid #d6d3d1;
        border-radius: 5px;

        &__converterWrapper {
            & label {
                text-transform: capitalize;
            }
            &__input {
                @include a.flex(flex-start, center);

                input {
                    width: 100%;
                    height: 2em;
                }
            }
            &__selection {
                @include a.flex(center, center);
                margin-top: 0.5em;

                &__from {
                }
                &__to {
                }
            }
            &__btn {
                margin: 0.5em auto;
            }
        }
    }

    //main - section
    &__resultWrapper {
        grid-area: r;
        padding: 0.5em;
        border: 2px solid #d6d3d1;
        border-radius: 5px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);

        &__ref {
            grid-row: 1/2;

            p {
                text-align: center;

                &:first-child {
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 0.5em;
                }
            }
        }
        &__result {
            grid-row: 2/3;
            margin-top: 2em;

            p {
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.5em;
                }
            }
        }
        &__last_updated {
            grid-row: 3/-1;
            margin-top: 2em;

            p {
                font-size: 1em;
                font-weight: 600;
                text-align: end;
                justify-self: end;
                align-self: end;

                &:first-child {
                    text-transform: capitalize;
                }
                &:last-child {
                    font-size: 1.5em;

                    span {
                        &:first-child {
                            text-transform: capitalize;
                        }

                        &:last-child {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    &__cardWrapper {
        grid-area: c;
        &__cardComponents {
            &__cardComponent {
            }
        }
    }

    //>tablet
    @include a.mq-tablet {
        @include a.grid(8, 1, 2) {
            grid-template-areas:
                'n n t t t t t t'
                'n n r r r r r r'
                'c c c c c c c c';
        }
    }
    @include a.mq-desktop {
        @include a.grid(12, 1, 2) {
            grid-template-areas:
                'n n n t t t t t t t t t'
                'n n n r r r r r r r r r'
                'c c c c c c c c c c c c';
        }
    }
}

.boardMain {
    @include a.debug([cardWrapper, cardComponents, cardComponent]);
}
