@use '../../../styles/abstracts/index' as a;

@mixin board-cards() {
    border: 2px solid #d6d3d1;
    padding: 1em;

    h4 {
        width: max-content;
        border-bottom: 1px dashed;
        margin-bottom: 1em;
        padding: 0.5em 0;
    }

    &__cardComponents {
        &__cardComponent {
            span {
                display: block;
            }
            border: 1px solid #d6d3d1;
            border-radius: 5px;
            padding: 0.5em;
            margin-bottom: 1em;

            div {
                @include a.flex(space-between, center);

                span {
                    margin-bottom: 1em;

                    &:first-of-type {
                        font-weight: 700;
                        font-size: clamp(1.4em, 2vw, 1.6em);
                    }

                    &:last-of-type {
                        font-weight: 500;
                    }
                }

                &:last-of-type {
                    @include a.flex(flex-end, center);
                }
            }

            p {
                text-align: center;
            }
        }
        @include a.mq-desktop {
            @include a.flex(center, center, row, 2);

            div {
                @include a.flex(space-between, center, column, 0);

                span {
                    margin: 0;
                    &:first-child,
                    &:last-child {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }
}
